html,
body {
    margin: 0;
    padding: 0;
}

.container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

p {
    font-size: 20px;
}

h1,
h2 {
    color: #016F70;
}

a {
    text-decoration: none;
    color: black;
}

.contacts {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: #D469BD;
    background-color: #016F70;
}

.footer-link {
    color: #D469BD;
}